.container{
    width:500px;
    height: 800px;
}
.header{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

.item1{
    flex-grow: 1;
    background-color: white;
    display:flex;
    flex-grow: 1;
    justify-content: space-between;
}

.left p{
    margin:0%;
    display : inline;
}

.middle p{
    display : inline;
}

.right p{
    display:inline;
}

.item2{
    flex-grow: 1;
    display:flex;
    justify-content: center;
}

.bar2{
    width:90%;
    height:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.bar2 p{
    display: inline-block;
    font-size: 35px;
    margin:0%;
    font-weight: 500;
}

.icon2{
    display:flex;
    width:25%;
    height:100%;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
}



.item3{
    flex-grow: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}


.bar3{
    display:flex;
    width:90%;
    height:70%;
    justify-content:space-between;
}

.bar3 i{
    margin-top:20px;
    font-size: 30px;
}

.profile{
    width:100px;
    height:100px;
    background-image: url("./bear.jpg");
    background-size: contain;
    border-radius: 10px;
}

.bar3 p{
    font-size:25px;
    margin:0%;
}


.item4{
    flex-grow: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bar4{
    display:flex;
    width:90%;
    height:70%;
    justify-content: space-between;
    border-bottom:2px solid rgb(192, 192, 192);
}

.bar4 i{
    font-size: 37px;
}

.Calander{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Calander i{
    align-items: center;
}

.item5{
    display:flex;
    flex-grow: 5;

    align-items: center;
    justify-content: center;
}


.bar5{
    width:90%;
    height:90%;

}

.K{
    display:flex;
    width: 60%;
    height: 50%;
    justify-content: space-between;
}

.ks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ks i{
    align-items: center;
}

.bar5 p{
    font-size: 20px;
}

.ksimage{
    height:50px;
    width:50px;
    background-image: url(./story.jpg);
    background-size: contain;
    border-radius: 5px;
}






.item6{
    flex-grow: 5;

}

.item7{
    display: flex;
    flex-grow:2;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
    border-top: 2px solid rgb(218, 218, 218);
}

#icon7{
    display: flex;
    font-size: 35px;
    height: 80%;
    width:80%;
    justify-content: space-between;
    align-items: center;
}